﻿@page "/"

<h1>Hello, world!</h1>

Welcome to my first Brazor App. 

<br>Интересная штука.<br><br>

<Dialog Title="Blazor">
    Do you want to <i>learn more</i> about Blazor...<br>
    Напечатать в консоль что то?
</Dialog>

<h1><br>Counter +10</h1>

<Counter IncrementAmount="10" />

<h1><br>Counter +1</h1>

<Counter /> 